[user]
  name = David Kumru
  email = davidkumru@gmail.com
[core]
  editor = /opt/homebrew/bin/code
  excludesfile = ~/.gitignore
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  autosetupremote = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
